.edit-btn,
.remove-btn {
  border: 1px solid #efefef;
  padding: 0.4em 1em;
  font-size: 1em;
  margin: 0 0.5em;
  cursor: pointer;
  background-color: #fff;
  transition: 0.4s;
}
.edit-btn,
.edit-btn path {
  border-color: #007bff;
  color: #007bff;
}

.edit-btn:hover,
.edit-btn:hover path {
  color: #fff;
  background-color: #007bff;
}.edit-btn,
.edit-btn path {
  border-color: #007bff;
  color: #007bff;
}

.edit-btn:hover,
.edit-btn:hover path {
  color: #fff;
  background-color: #007bff;
}
.remove-btn,
.remove-btn path {
  border-color: #dc3545;
  color: #dc3545;
}

.remove-btn:hover,
.remove-btn:hover path {
  color: #fff;
  background-color: #dc3545;
}